<h1>Lista de Postes: </h1>



{{#each posts}}

    <small>{{dataValues.createdAt}}</small>
    <h1>{{dataValues.titulo}}</h1>
    <p>{{dataValues.conteudo}}</p>
    <a href="/delete/{{dataValues.id}}"><button>Deletar</button></a>
    <a href="/update/{{dataValues.id}}"><button>Alterar</button></a>
    <hr>


{{/each}}